* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.desctop-nav-inline-content {}